:root {
  --ion-color-primary: #1D4ED8;
  --ion-color-primary-rgb: 29, 78, 216;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #1a44be;
  --ion-color-primary-tint: #3460dc;

  --ion-color-secondary: #3B82F6;
  --ion-color-secondary-rgb: 59, 130, 246;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-shade: #3474d8;
  --ion-color-secondary-tint: #4f8ef7;

  --ion-color-tertiary: #8B5CF6;
  --ion-color-tertiary-rgb: 139, 92, 246;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-shade: #7a51d8;;
  --ion-color-tertiary-tint: #976cf7;

  --ion-color-success: #10B981;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-shade: #0ea472;
  --ion-color-success-tint: #28c08e;

  --ion-color-warning: #F59E0B;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-shade: #d88b0a;
  --ion-color-warning-tint: #f6a823;

  --ion-color-danger: #EF4444;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-shade: #d23c3c;
  --ion-color-danger-tint: #f15757;

  --ion-color-dark: #1E293B;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-shade: #1a2433;
  --ion-color-dark-tint: #354152;

  --ion-color-medium: #64748B;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-shade: #59677a;
  --ion-color-medium-tint: #748297;

  --ion-color-light: #EFF6FF;
  --ion-color-light-contrast: #1E293B;
  --ion-color-light-shade: #d2daea;
  --ion-color-light-tint: #f1f7ff;
}
